@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MEUS PRODUTOS</h1>
    <p class="lead">Aplicação simples desenvolvida em MVC5 e .NET framework 4.7.2, utilizando Identity e Entity Framework com SQL Server, para gravar produtos e fornecedores, seguindo o curso do Eduardo Pires, desenvolvedor.io</p>
</div>
